@font-face {
  font-family: "JosefineSans";
  src: local("JosefineSans"),
   url("./fonts/josefine-sans/static/JosefinSans-Bold.ttf") format("truetype");
  font-weight: bold;
 }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'JosefineSans';
}


.App-logo{
  height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

body{
background-color: black;
color: #e1a226;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #e1a226;
  font-size: 72px;
  text-align: center;
  margin-bottom: 16px;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  max-height: 100px;
  margin-top: 50px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.search-box input{
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  transition:0.4s;
  font-size: large;
}

.search-box:focus-within{
  box-shadow: 3px 3px 6px rgba(0, 0, 0b, 2);
  transform: translateY(-5px);

}


.results{
  max-width: 768px;
  margin: 0 auto;

}

.result{
  width:100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #000000;
  border-radius: 16px;
  transition: 0.4s;
  }

  .result:hover{
    box-shadow: 3px 3px 6px rgba(168, 146, 3, 0.2);
  }

  .result h3{
    color: #e1a226;
    font-size: 28px;
    margin-bottom: 16px;
  }

  .result p{
    color: #e1a226;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .result a{
    display: inline-block;
    padding: 12px 16px;
    background-color: #e1a226;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0,4s;
  }